<h1><%= @game.title %></h1><br>
    <% if @game.reviews.empty? %>
        Be the first to make a <u><%= link_to 'review', new_game_review_path(@game) %></u>
    <% else %>
<ul>
<% @game.reviews.each do |review| %>
<li>
    <%= link_to review.user.username, game_review_path(review) %>
</li>
</ul>
<% end %>
<% end %> 